In [1]:
import mysql.connector

In [13]:
cnx=mysql.connector.connect(user='root',password='Wangying0127',host='127.0.0.1',database='sakila')

In [14]:
cursor=cnx.cursor()

first_name=input()
query='SELECT first_name,last_name,city \
       FROM address LEFT JOIN customer on address.address_id=customer.address_id \
       LEFT JOIN city on address.city_id=city.city_id \
       WHERE first_name = "'+str(first_name).upper()+ '"'+"ORDER BY first_name"


cursor.execute(query)

for i in cursor:
    print(i)
    
cursor.close()
cnx.close()

JAMIE
('JAMIE', 'RICE', 'Sterling Heights')
('JAMIE', 'WAUGH', 'Kuwana')