# part1:load

In [1]:
import pandas as pd
import requests
import json
import sys

In [2]:
#read csv file to python
df=pd.read_csv('./WA_Fn-UseC_-Telco-Customer-Churn.csv',index_col='customerID')
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
#filter customers who are senior citizens
df=df[df['SeniorCitizen']==1]

In [4]:
#transfer data to json document
df_json=df.to_json(orient='index')

In [25]:
#upload data to firebase's realtime database
url='https://ying-wang-hw1-default-rtdb.firebaseio.com/customers.json'
response=requests.put(url,df_json)
re_status=str(response)
if re_status=='<Response [200]>':
    print('Upload data successfully')

Upload data successfully

# part2:churn

In [23]:
# k=sys.argv[1]
k=input()
re_churned=requests.get(url+'?orderBy="Churn"'+'&'+'equalTo="Yes"'
                        +'&'+'limitToFirst='+str(k))
df_churned=re_churned.json()
print('The first '+ str(k)+' customers IDs are:')
for i in df_churned:
    print(i)

5
The first 5 customers IDs are:
0011-IGKFF
0013-EXCHZ
0022-TCJCI
0023-HGHWL
0067-DKWBL

# part3:tenure

In [43]:
k=input()
re_tenure=requests.get(url+'?orderBy="tenure"'+'&'+'startAt='+str(k))
df_tenure=re_tenure.json()
print('There are '+ str(len(df_tenure))+' customers have used the service for at least '+ str(k)+' months')

10
There are 862 customers have used the service for at least 10 months

In [39]:
#test above
df1=df[df['tenure']>=5]
df1.shape

(962, 20)